.header_desktop {
  background: rgba(#23447a, 0.65);
  border-radius: 25px;
  height: 8rem;
  width: 25rem;
  position: absolute;
  margin-top: 1%;
  margin-left: 10%;
}

.header_desktop__title {
  padding-left: 5%;
  color: white;
  font-size: 200%;
  font-weight: 200;
  font-family: "Helvetica Neue", sans-serif;
  position: relative;
  text-align: center;
}
.header_desktop__data {
  padding-left: 5%;
  color: white;
  font-size: 100%;
  font-weight: 200;
  font-family: "Helvetica Neue", sans-serif;
  position: relative;
  text-align: center;
}

.activity {
  background: rgba(#23447a, 0.65);
  border-radius: 25px;
  height: 25.5rem;
  width: 25rem;
  position: absolute;
  margin-top: 10%;
  margin-left: 10%;
}

.card {
  perspective: 100rem;
  -moz-perspective: 100rem;
  height: 10rem;
  margin: 10;
  
  &__side {
    height: 100%;
    transition: all 1s ease;
    position: absolute;
    width: 100%;
    backface-visibility: hidden;
    border-radius: 25px;
    overflow: hidden;
    box-shadow: 0 1.5rem 4rem rgba($color-shade, 0.15);
    &--front {
      background-color: white;
      color: teal;
    }
    &--back {
      transform: rotateY(180deg);
      &-1 {
        background-image: linear-gradient(to right bottom, $color-back-light, $color-back-dark);
      }
    }
  }
  &:hover &__side--front {
    transform: rotateY(-180deg);
  }
  &:hover &__side--back {
    transform: rotateY(0);
  }

  &__picture {
    background-size: cover;
    height: 4rem;
    background-blend-mode: screen;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 70%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 70%, 0 100%);
    position: relative;

    &--1 {
      background-image: linear-gradient(to right bottom, $color-shade-light, $color-shade-dark),
      url("../../../img/january.gif");
    }

    &--2 {
      background-image: linear-gradient(to right bottom, 
      $color-shade-light, $color-shade-dark),
      url("../../../img/february.jpg");
    }

    &--3 {
      background-image: linear-gradient(to right bottom, 
      $color-shade-light, $color-shade-dark),
      url("../../../img/march.jpg");
    }

    &--4 {
      background-image: linear-gradient(to right bottom, $color-shade-light, $color-shade-dark),
      url("../../../img/april.jpg");
    }

    &--5 {
      background-image: linear-gradient(to right bottom, 
      $color-shade-light, $color-shade-dark),
      url("../../../img/may.jpg");
    }

    &--6 {
      background-image: linear-gradient(to right bottom, 
      $color-shade-light, $color-shade-dark),
      url("../../../img/june.jpg");
    }

    &--7 {
      background-image: linear-gradient(to right bottom, $color-shade-light, $color-shade-dark),
      url("../../../img/july.jpg");
    }

    &--8 {
      background-image: linear-gradient(to right bottom, 
      $color-shade-light, $color-shade-dark),
      url("../../../img/august.png");
    }

    &--9 {
      background-image: linear-gradient(to right bottom, 
      $color-shade-light, $color-shade-dark),
      url("../../../img/september.jpg");
    }

    &--10 {
      background-image: linear-gradient(to right bottom, $color-shade-light, $color-shade-dark),
      url("../../../img/october.jpg");
    }

    &--11 {
      background-image: linear-gradient(to right bottom, 
      $color-shade-light, $color-shade-dark),
      url("../../../img/november.gif");
    }

    &--12 {
      background-image: linear-gradient(to right bottom, 
      $color-shade-light, $color-shade-dark),
      url("../../../img/december.jpg");
    }
  }

  &__heading {
    font-size: 1.3rem;
    font-weight: 100;
    text-transform: uppercase;
    text-align: right;
    color: white;
    position: absolute;
    top: 2rem;
    right: 0.8rem;
    width: 75%;
  }

  &__heading-span {
    padding: 0.2rem 0.2rem;
    
    &--1 {
      background-image: linear-gradient(to right bottom, 
      rgba($color-back-dark, .90),
      rgba($color-back-light, .90));
       }
  }

  &__heading_september {
    font-size: 1.3rem;
    font-weight: 100;
    text-transform: uppercase;
    text-align: right;
    color: white;
    position: absolute;
    top: 2rem;
    right: 1.5rem;
    width: 75%;
  }

  &__details {
    font-size: 4rem;
    text-align: center;
    color: $color-back-dark;
  }
}

.show-for-mobile {
  @media (min-width: 45rem) {
    display: none;
  }
}
.show-for-desktop {
  @media (max-width: 45rem - 0.01rem) {
    display: none;
  }
}
