* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: "Helvetica Neue", sans-serif;
    font-weight: 100;
    font-size: 16px;
    line-height: 1.7;
    color: #fff;
  }
  
  .header {
    background-image: linear-gradient(to right bottom, #0000cc5d, #28b485),
      url("../../../img/header.jpg");
    background-size: cover;
    background-position: top;
    position: relative;
  }
  .header__title {
    padding-left: 5%;
    color: white;
    font-size: 200%;
    font-weight: 200;
    font-family: "Helvetica Neue", sans-serif;
    position: relative;
    text-align: center;
  }
  .header__data {
    padding-left: 5%;
    color: white;
    font-size: 100%;
    font-weight: 200;
    font-family: "Helvetica Neue", sans-serif;
    position: relative;
    text-align: center;
  }
  .list-item {
    line-height: 500%;
    background-color: grey;
  }
  .list-item__title {
    padding-left: 5%;
    color: white;
    font-size: 200%;
    font-weight: 200;
    font-family: "Helvetica Neue", sans-serif;
    float: left;
    position: relative;
  }
  .list-item__data {
    color: white;
    padding-right: 5%;
    font-size: 300%;
    font-weight: 200;
    text-align: right;
  }
  .january {
    background-image: linear-gradient(to right bottom, #0000cc5d, #28b485),
      url("../../../img/january.gif");
  }
  .february {
    background-image: linear-gradient(to right bottom, #0000cc5d, #28b485),
      url("../../../img/february.jpg");
  }
  .march {
    background-image: linear-gradient(to right bottom, #0000cc5d, #28b485),
      url("../../../img/march.jpg");
  }
  .april {
    background-image: linear-gradient(to right bottom, #0000cc5d, #28b485),
      url("../../../img/april.jpg");
  }
  .may {
    background-image: linear-gradient(to right bottom, #0000cc5d, #28b485),
      url("../../../img/may.jpg");
  }
  .june {
    background-image: linear-gradient(to right bottom, #0000cc5d, #28b485),
      url("../../../img/june.jpg");
  }
  .july {
    background-image: linear-gradient(to right bottom, #0000cc5d, #28b485),
      url("../../../img/july.jpg");
  }
  
  .august {
    background-image: linear-gradient(to right bottom, #0000cc5d, #28b485),
      url("../../../img/august.png");
  }
  .september {
    background-image: linear-gradient(to right bottom, #0000cc5d, #28b485),
      url("../../../img/september.jpg");
  }
  .october {
    background-image: linear-gradient(to right bottom, #0000cc5d, #28b485),
      url("../../../img/october.jpg");
  }
  .november {
    background-image: linear-gradient(to right bottom, #0000cc5d, #28b485),
      url("../../../img/november.gif");
  }
  .december {
    background-image: linear-gradient(to right bottom, #0000cc5d, #28b485),
      url("../../../img/december.jpg");
  }
  